<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Hire Date</th>
        <th>Birth Date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of Employees">
        <td>{{this.employee.firstName}}</td>  
        <td>{{this.employee.lastName}}</td>
        <td>{{this.employee.gender}}</td>
        <td>{{this.employee.hireDate}}</td>
        <td>{{this.employee.birthDate}}</td>
        <td><button (click)="RemoveData(this.employee.id)">Remove</button></td>
        <td><app-edit-button (click)="edit(this.employee)"></app-edit-button></td>
      </tr>
    </tbody>
  </table>
  
  <div class="row">
    <div><button class="btn btn-success" (click)="FirstPage()" [disabled]="this.CurrentPage == 0">First Page</button></div>
    <div><button class="btn btn-secondary" (click)="PrevPage()" [disabled]="this.CurrentPage == 0">Previous Page</button></div>
    <div><p>{{this.CurrentPage}}</p></div>
    <div><button (click)="NextPage()" [disabled]="this.CurrentPage === this.NumPages">Next Page</button></div>
    <div><button (click)="LastPage()" [disabled]="this.CurrentPage === this.NumPages">Last Page</button></div>
  </div>